body {
    color: #000;
}

.title {
    font-size: 80px;
    font-weight: 500;
    margin: 0 0 70px 0;
}


.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: 0.3s;

}



.header .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px
}

.header .logo {
    display: block;
    width: 230px;
    height: 40px;
    background: url(../images/logo_w.png)no-repeat;
}

.header.on .logo {
    background: url(../images/logo_b.png) no-repeat;
}



.header .gnb>ul {
    display: flex;
    gap: 40px
}

.header .gnb>ul>li {
    position: relative;
    color: #fff;

    line-height: 70px;

}

.header .gnb>ul>li>a {
    display: block;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.header.on {
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header.on .gnb>ul>li>a {
    color: #000;

}







.header .gnb>ul>li .sub {
    position: absolute;
    top: 70px;
    left: 50%;

    background: #fff;
    transform: translate(-50%, 0);
    width: auto;
    padding: 10px 30px 10px 30px;
    text-align: center;
    white-space: nowrap;
    border-radius: 20px;

    visibility: hidden;
    opacity: 0;



    transition: 0.5s;

}

.header .gnb .sub li {
    color: #666;
    height: 50px;
    line-height: 50px;

    transition: 0.5s;
}

.header .gnb>ul>li:hover .sub {
    visibility: visible;
    opacity: 1;
}

.header .gnb>ul>li .sub>li:hover {
    color: #0000ff;
}

.itm {
    height: 100vh;
}


.itm01 {
    background: url(../images/section01_01.png) no-repeat center center/cover;
}

.itm02 {
    background: url(../images/section01_02.png) no-repeat center center/cover;
}

.itm03 {
    background: url(../images/section01_03.png) no-repeat center center/cover;
}

.mainvisual .txt_box {
    margin: 400px auto 0 auto;

}

.mainvisual .txt_box h3 {
    font-size: 90px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 20px 0;
}

.mainvisual .txt_box p {
    font: 40px;
    color: #fff;
    line-height: 1.4;
    margin: 0 0 100px 0;
}

.mainvisual .txt_box a {
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    padding: 16px 48px;
    border-radius: 30px;
}

.maincontent {
    padding: 100px 0;
    background: url(../images/section02_background.png)no-repeat;
}

.maincontent .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.maincontent .content .img_box img {

    transition: 0.5s;
}

.maincontent .content .img_box {
    margin: 0 0 30px 0;
    border-radius: 60px 0 60px 0;
    overflow: hidden;
}

.maincontent .content .img_box:hover img {
    transform: scale(1.1);

}

.maincontent .content .box02 {
    position: relative;
    top: 50%;
    right: 140px;
    transform: translate(-100%, 0);
    margin: -100px 0 -100px 0;
}

.maincontent .content h3 {
    font-size: 28px;
    font-weight: 500;
}

.mainareas {
    padding: 100px 0;
}

.mainareas .areas {
    display: flex;
    gap: 30px;
}


.mainareas .areas .img_box {
    transition: 0.5s;
}

.mainareas .areas .areas_box {
    position: relative;
    border-radius: 70px 0 70px 0;
    overflow: hidden;
    transition: 0.5s;
}

.mainareas .areas .areas_box:hover {
    transform: translate(0, -30px);
}



.mainareas .areas .areas_box:hover .img_box {
    filter: brightness(50%);
}





.mainareas .areas .areas_box .txt_box {
    position: absolute;
    top: 70px;
    left: 40px;

    font-size: 32px;
    color: #fff;
    font-weight: 500;


}

.mainareas .areas .areas_box .desc {
    position: absolute;
    font-size: 15px;
    bottom: 50px;
    left: 40px;
    color: #fff;
}

.mainareas .areas .areas_box .desc ul>li {
    margin: 0 0 20px 0;
    opacity: 0;
    transition: 0.5s;
}

.mainareas .areas .areas_box:hover .desc ul>li {
    opacity: 1;
}

.maincontact {
    padding: 100px 0;
}

.maincontact .txt_box {
    display: flex;
    justify-content: space-between;
    margin: 0 0 50px 0;

}



.maincontact .txt_box strong {
    display: inline-block;
    margin: 0 30px 0 0;
    font-weight: 500;
    font-family: 'Noto Sans KR';

}

.maincontact .txt_box span {
    color: #666;
}

.footer {
    height: 50px;
}

.footer .footer_wrap {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    color: #666;
}

.footer .footer_wrap ul {
    display: flex;
    gap: 30px;
}

.footer .footer_wrap ul>li strong {
    font-weight: 600;
}











.mobile_btn {
    display: none;
}

.header .gnb .m_logo {
    display: none;
}






/* mobile */

@media (max-width:768px) {
    html {
        font-size: 62.5%
    }

    body {
        color: #000;
    }

    .title {
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 20px 0;
    }


    .header {
        z-index: 1000;


    }



    .header .header_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;


    }

    .header h1 {
        padding: 0 0 0 15px;
    }

    .header .logo {
        background-image: url(../images/logo_w.png) no-repeat;
        background-size: 150px 25px;
    }

    .header.on .logo {
        background-image: url(../images/logo_b.png) no-repeat;
        background-size: 150px 25px;
    }


    .header .gnb {
        position: fixed;
        inset: 0 auto 0 100%;
        width: 100%;
        background: #444;

        z-index: 999;

    }

    .header .gnb .m_logo {
        display: block;
        padding: 30px 0 0 30px;
    }

    .header .gnb .m_logo img {


        height: 20px;
        width: 100px;
    }

    .header .gnb.on {
        inset: 0 auto 0 5%;
    }

    .header .gnb.on::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 5%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);

    }

    .header .gnb>ul {
        flex-direction: column;
        gap: 0;
        padding: 150px 30px 0 30px
    }

    .header.on .gnb>ul>li>a {
        color: #fff;

    }


    .header .gnb>ul>li .sub {
        position: static;

        background: rgba(0, 0, 0, 0.1);
        padding: 0 0 0 0;
        text-align: left;

        transform: none;
        opacity: 1;
        visibility: visible;

        display: none;


    }

    .header .gnb>ul>li:hover .sub {
        display: none;
    }

    .header .gnb .sub li {
        color: #fff;
        padding: 0 0 0 10px;
    }






    .mobile_btn {
        /* r */
        display: block;

        position: fixed;
        inset: 30px 30px auto auto;
        z-index: 1000;
        width: 30px;
        height: 30px;



    }



    .mobile_btn::after,
    .mobile_btn::before {
        content: "";
        position: absolute;
        inset: 14px 5px auto 5px;
        height: 2px;
        background: #fff;
    }

    .header.on .mobile_btn::after,
    .header.on .mobile_btn::before {
        background: #000;
    }

    .header.on .mobile_btn.on::before,
    .header.on .mobile_btn.on::after {
        background: #fff;
    }

    .mobile_btn.on::before {
        transform: rotate(405deg);
        transition: 0.5s 0.7s;
    }

    .mobile_btn.on::after {
        transform: rotate(-405deg);
        transition: 0.5s 0.3s;
    }



    .mobile_btn button {
        border: none;
        outline: none;
        background: transparent;
    }

    .mobile_btn button::after,
    .mobile_btn button::before {
        content: "";
        position: absolute;
        height: 2px;
        background: #fff;

    }

    .mobile_btn button::before {
        inset: 7px 5px auto 5px;
    }

    .mobile_btn button::after {
        inset: auto 5px 7px 5px;
    }

    .mobile_btn.on button::before {
        display: none;
    }

    .mobile_btn.on button::after {
        display: none;
    }

    .header.on .mobile_btn button::after,
    .header.on .mobile_btn button::before {
        background: #000;
    }




    .itm {
        height: 100vh;
        width: 100%;
    }


    .itm01 {
        background: url(../images/section01_01.png) no-repeat center center/cover;
    }

    .itm02 {
        background: url(../images/section01_02.png) no-repeat center center/cover;
    }

    .itm03 {
        background: url(../images/section01_03.png) no-repeat center center/cover;
    }

    .mainvisual .txt_box {
        margin: 300px auto 0 auto;

    }

    .mainvisual .txt_box h3 {
        font-size: 40px;
        font-weight: 500;
        color: #fff;
        margin: 0 0 20px 0;
    }

    .mainvisual .txt_box p {
        font-size: 10px;
        color: #fff;
        line-height: 1.4;
        margin: 0 0 50px 0;
    }

    .mainvisual .txt_box a {
        font-size: 14px;
        font-weight: 500;
        background: #fff;
        padding: 14px 36px;
        border-radius: 30px;
    }

    .maincontent {
        padding: 100px 0;
        background: url(../images/section02_background.png)no-repeat;
    }

    .maincontent .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 100%;

    }

    .maincontent .content .img_box img {
        width: 100%;
        transition: 0.5s;
    }

    .maincontent .content .img_box {
        margin: 0 0 10px 0;
        border-radius: 20px 0 20px 0;



    }

    .maincontent .content .img_box:hover img {
        transform: scale(1.1);

    }

    .maincontent .content .box02 {
        position: relative;
        left: 0;
        top: 0;
        transform: none;


        margin: 0 0 0 0;
    }

    .maincontent .content h3 {
        font-size: 14px;
        font-weight: 500;
    }

    .mainareas {
        padding: 100px 0;
    }

    .mainareas .areas {
        display: flex;
        gap: 30px;
        flex-direction: column;




    }


    .mainareas .areas .img_box {

        transition: 0.5s;

    }

    .mainareas .areas .img_box img {
        width: 100%;

        height: 350px;
        object-fit: cover;
    }

    .mainareas .areas .areas_box {
        position: relative;
        border-radius: 20px 0 20px 0;
        overflow: hidden;

        transition: 0.5s;
    }

    .mainareas .areas .areas_box:hover {
        transform: none;
    }



    .mainareas .areas .areas_box:hover .img_box {
        filter: brightness(50%);
    }





    .mainareas .areas .areas_box .txt_box {
        position: absolute;
        top: 20px;
        left: 20px;

        font-size: 18px;
        color: #fff;
        font-weight: 500;


    }

    .mainareas .areas .areas_box .desc {
        position: absolute;
        font-size: 12px;
        bottom: 20px;
        left: 20px;
        color: #fff;
    }

    .mainareas .areas .areas_box .desc ul>li {
        margin: 0 0 20px 0;
        opacity: 0;
        transition: 0.5s;
    }

    .mainareas .areas .areas_box:hover .desc ul>li {
        opacity: 1;
    }

    .maincontact {
        padding: 100px 0;
    }

    .maincontact .txt_box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 0 50px 0;

    }



    .maincontact .txt_box strong {
        display: inline-block;
        width: 80px;

        font-weight: 500;
        font-family: 'Noto Sans KR';

    }

    .maincontact .txt_box span {
        color: #666;
    }

    .footer {
        height: 50px;
        margin: 0 0 20px 0;
    }

    .footer .footer_wrap {
        display: flex;
        align-items: center;
        gap: 20px;
        flex-direction: column;

        font-weight: 400;

        color: #666;

    }

    .footer .footer_wrap ul {
        display: flex;
        gap: 30px;

    }

    .footer .footer_wrap ul>li strong {
        font-weight: 600;
    }
}

@media (max-width : 580px) {
    .mainareas .areas .img_box img {
        width: 100%;

        height: 300px;
    }
}

@media (max-width : 400px) {
    .mainareas .areas .img_box img {
        width: 100%;

        height: 250px;
    }
}